.photo {
  object-fit: cover;
  max-width: 100%;
  border-radius: 2rem;
  aspect-ratio: 2 / 2.5;
}
.date {
  margin: 0;
  padding-bottom: 1rem;
}
.subtitle {
  padding: 1rem 0;
}
/* aside :last-child {
  width: content;
  text-align: center;
} */