.menu {
  margin: 0;
  padding: 0;
  z-index: 0;
  min-height: 100vh;
}
.photo_container {
  min-height: 100vh;
  z-index: 1;
  width: 100vw;
  position: relative;
  background: url("../images/photo-001-3-2.jpg") 0 0 / cover no-repeat;
}