.link {
    font-size: var(--size-h2);
    font-weight: bold;
    padding: 25px;
    margin: 0px;
    border-radius: 50px;
    text-wrap: nowrap;
    cursor: pointer;
    transition: scale 0.2 ease;
    /* display:inline; */
    
}
.link:active {
    scale: 1.01;
}
/* ========================================= */
.link_white {
    color: var(--btnWhite);
    background-color: var(--btnTransparent);
    border: 1px solid var(--btnWhite)
}
.link_white:hover {
    background-color: var(--btnTransparentActive);
}
/* ===================== */
.link_aqua {
    background-color: var(--btnAqua);
    color: var(--btnBlack);
}
.link_aqua:hover {
    background-color: var(--btnAquaHover);
}