* {
  padding: 0;
  margin: 0;
  border: 0;
}
html,
body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -moz-text-size-adjust: 100%;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
input::-ms-clear {
  display: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"],
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
  font-family: inherit;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
nav,
footer,
header,
aside,
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
/* ======================== */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: var(--size-p);
  color: var(--black);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: var(--size-h1);
}
h2 {
  font-size: var(--size-h2);
}
p {
  font-size: var(--size-p);
}

:root {
  --btnWhite: #fff;
  --btnBlack: #000000;
  --btnAqua: #5bc0be;
  --btnAquaHover: #53b2b0ee;
  --btnTransparent: rgba(255, 255, 255, 0);
  --btnTransparentActive: rgba(255, 255, 255, 0.077);

  --navWhite: #dde6f6e7;
  --navHover: rgba(27, 31, 10, 0.06);

  --white: #fff;
  --white-coffe: rgba(27, 31, 10, 0.06);
  --black: #000000;
  --front: aqua;

  --size84-34: calc(2.125rem + 50 * (100vw / 1930));
  --size-h1: calc(1.75rem + 36 * (100vw / 1930));
  --size-h2: calc(1.5rem + 8 * (100vw / 1930));
  --size-h3: calc(1.25rem + 4 * (100vw / 1930));
  --size-p: calc(1rem + 6 * (100vw / 1930));
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* @media (max-width: 767px){
  :root {
    // calc(min + ((max-min) + (max-min) * 0.7) * (100vw / (max-window)))
    --size84-34: calc(2.125rem + (50 + 50 * 0.7) * ((100vw) / 1930))
    --sizeh2: calc(1.125rem + (8 + 8 * 0.7) * (100vw / 1930))
    --sizeP: calc(1rem + (4 + 4 * 0.7) * (100vw / 1930))
  }
} */
